@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Code&family=Josefin+Sans&display=swap');
:root {
    --highlightColor: #e63256;
    --lightColor: #fcf9fa;
    --darkColor: #020201;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/*GRID CLASSES FOR LAYOUT*/

body {
    background: var(--lightColor);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 95%;
}

.nav-wrap {
    background: var(--lightColor);
    /* this is the mobile navbar container*/
    display: block;
}

.main-content {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    /* this is the main container which needs to be also a grid for the elements that go inside*/
    grid-template-rows: 50% 50%;
}

.nav-main {
    background: var(--lightColor);
    /* this is the large navbar container*/
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 10px 5px;
}

.page-wrap {
    display: flex;
}

.profile-div {
    display: flex;
}

.bio-wrap {
    grid-column-start: 2;
    grid-column-end: 3;
}


/*MAIN STYLING*/

#toggler {
    background: none;
    font-size: 2em;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    outline: none;
    border: none;
    color: var(--highlightColor);
}

.collapse {
    display: none;
}

.menu-list,
.socials-list {
    list-style-type: none;
}

.menu-list li,
.socials-list li {
    padding: 10px 0;
    text-decoration: none;
}

.menu-list li a {
    padding: 5px 0 0 5px;
    text-decoration: none;
    color: var(--highlightColor);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    transition: all 0.8s ease-in-out;
    background: linear-gradient( to bottom, var(--darkColor) 0%, var(--darkColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    text-decoration: none;
    transition: background-size .2s;
}

.menu-list li a:hover {
    background-size: 4px 50px;
    color: var(--lightColor);
}

.socials-list li a {
    text-decoration: none;
    color: var(--darkColor);
    font-family: 'Courier Prime', monospace;
    font-size: 0.8em;
}

.socials-list li a:hover {
    color: var(--highlightColor);
    font-style: italic;
}

.socials {
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.text-wrap {
    padding: 5px;
}

.name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 5px;
    color: var(--highlightColor);
    padding: 20px 0 5px 0px;
}

.sub-name {
    font-family: 'Courier Prime', monospace;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.pronoun {
    font-size: 0.7em;
    color: var(--highlightColor);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.profile-pic {
    padding: 20px 20px 0 0;
    width: 120px;
    height: 150px;
}

.bio {
    font-size: 1em;
    font-family: 'Fira Code', monospace;
}


/*MEDIA QUERIES*/

@media (min-width: 769px) {
    .nav-wrap {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-main {
        display: none;
    }
    .main-content {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .bio-wrap {
        grid-column-start: 1;
    }
    .nav-mobile {
        margin-top: 35px;
        padding: 20px;
        position: absolute;
        background: var(--lightColor);
        width: 100%;
        height: 100%;
    }
    .collapse {
        display: none;
    }
    .profile-pic {
        padding: 30px 10px 10px 10px;
    }
    .name {
        padding: 30px 0 5px 0px;
        font-size: 1.5em;
    }
    .sub-name {
        padding-top: 15px;
    }
    .pronoun {
        padding-top: 20px;
    }
}